---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Aaron's Portfolio";
---
<Layout pageTitle={pageTitle}>
    <div class ="align">
        <img alt="MyPicture" src="/Solo.jpg"/>
    </div>
    <div class= "subdirect" ><h1>Francis Aaron L. Rubio</h1></div>
    <span class="badge">Full Stack Developer</span>
    <div class= "subdirect" ><h2>About</h2></div>
    <p>
        Experienced and skilled in programming with a personal preference of Python. Graduated as a Computer Science student,
        and has interned for 6 months as a scripting/development programmer intern. With my accumulated experience of
        programming for more than 2 years with a wide diversity of Languages including, Java, C++, etc. One of my greatest
        accomplishments to date is being the main programmer in successfully developing a License Plate Recognition System
        using Convolutional Neural Network Algorithm prototype for my Thesis paper.

        
    </p>
    <p>
        I am someone who is quick at learning, easy to get along with my fellow peers, very fast to adapt and someone with lots of potential
        in the field. Recently hired as a Full Stack Developer and is undergoing his first job in Creatizen's Corp.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">Projects</button>
        </a>
    </div>
    <div class= "subdirect" ><h2>Skills</h2></div>
    <div class="skills center">
        <a href="https://www.python.org/" target ="_blank"><img class="skills__img" width="46" height="46" alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original-wordmark.svg"/></a>
        <a href="https://www.java.com/en/" target ="_blank"><img class="skills__img" width="46" height="46" alt="Java" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original-wordmark.svg"/></a>
        <a href="https://cplusplus.com/" target ="_blank"><img class="skills__img" width="46" height="46" alt="C++" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg"/></a>
        <a href="https://html.spec.whatwg.org/multipage/" target ="_blank"><img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg"/></a>
        <a href="https://www.w3.org/Style/CSS/Overview.en.html" target ="_blank"><img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/></a>
        <a href="https://www.djangoproject.com/" target ="_blank"><img class="skills__img" width="46" height="46" alt="Django" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/django/django-plain.svg"/></a>
        <a href="https://www.tensorflow.org/" target ="_blank"><img class="skills__img" width="46" height="46" alt="TensorFlow" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tensorflow/tensorflow-original.svg"/></a>
    </div>
    <div class= "subdirect" ><h2>Interests</h2></div>
    <p>
        Curious in nature. Especially when the object or the center of attention really piques my interest, I tend to get lost in time
        exploring what is there to explore within that topic/field.
        <ul>
            <li>Games</li>
            <li>Reading</li>
            <li>Watching</li>
            <li>Eating</li>
            <li>Basketball</li>
            <li>Badminton</li>
        </ul>
    </p>
</Layout>

